* {
    font-family: Helvetica,Arial,sans-serif; 
}

body {
    background-image: url("pics/arzt.jpg"); 
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(255, 255, 255, 0.707);
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
  margin: 0;
  flex-grow: 1;
  text-align: center;
  margin-right: 8%;
}

.backButton {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(0,198,255,0.8);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 20px;
}

.backButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.backButton span:after {
  content: '\2039';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.backButton:hover span {
  padding-right: 25px;
}

.backButton:hover span:after {
  opacity: 1;
  right: 0;
}

nav a {
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: bold;
    border-radius: 6px;
}

nav a:hover {
    background-color: rgb(255,255,255,0.8);
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0,198,255,0.8);
}
  
li {
  flex-grow: 1;
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

article {
  display: block;
  margin: 3%;
  padding: 1%;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  font-size: large;
  overflow: auto;
}

th, td {
  border: 2px solid;
  padding: 10px;
  text-align:center;
}

.id {
  padding-bottom: 20px;
}

input {
  width: 50%;
  padding: 10px 25px;
  box-sizing:border-box;
}

.searchButton {
  background-color: rgb(0,198,255,0.8);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 11px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
  width: 5cm;
}

.searchButton:hover {
  background-color: rgba(0, 174, 255, 0.925);
}

.kontakt {
  border: 0px;
  text-align: left;
  margin: auto;
  width: 50%;
}

footer{
  width: 100%;
  color: rgb(70, 70, 70);
  background-color: rgb(240, 238, 238);
  text-align: center;
  padding: 5px;
  clear: both;
}

.bestätigung1 {
  background-color: yellowgreen;
  width: 13cm;
  height: 13cm;
  margin: auto;
  margin-top: 7%;
}

.bestätigung {
  border: 0px;
  text-align: left;
}

.bestätigung2 {
  border: 2px solid;
  margin: auto;
}

div {
  overflow-x: auto;
}

table{
  margin: auto;
}

.anliegen{
  width: 10cm;
  height: 5cm;
}

.inputkontakt{
  width: 70%;
}

h2{
  margin: auto;
}

.stornoButton{
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(0,198,255,0.8);
  border: none;
  color: white;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
}

.stornoButton:hover{
  background-color: rgba(172, 31, 31, 0.8);
}

.main-links {
  float: left;
  width: 49%;
  padding: auto;
  border-right: solid;
  border-width: 1px;
  border-color: rgb(78, 78, 78);
}

.main-rechts {
  float: left;
  width: 49%;
  padding: auto;
}

.upper {
  background-color: rgb(230, 230, 230);
  width: 50%;
  margin-left: 20%;
  border-radius: 8px;
}

.lower {
  width: 90%;
  margin-top: 50px;
  margin-left: 40px;
}


.arztbild {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.arzt-name {
  text-align: center;
}

.arzt-schwerpunkt {
  text-align: center;
  padding-bottom: 20px;
}

.arzt-links {
  text-align: left;
  border-style: none;
}

.arzt-rechts {
  text-align: right;
  width: 220px;
  border: none;
}

.arzt-table {
  border:none;
}

.p-termin {
  margin-right: 200px;
}

.termin {
  width: 200px;
  margin-right: 70px;
}

.arzt-buttons {
  border-radius: 8px;
  padding: 10px 20px;
  background-color: rgb(11, 197, 11);
}

.arzt-buttons:hover {
  background-color:rgb(39, 155, 16);
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

@media only screen and (max-width:1000px) {
  .anliegen{
    width: 230px;
  }
  .title{
    font-size: xx-large;
  }
  .backButton{
    font-size: large;
  }
  nav a {
    font-size: medium;
  }
  .main-links {
    width: 100%;
  }
  .main-rechts {
    width: 100%;
  }
}